<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="edit()">
        <ion-label>edit</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header__container">
    <ion-avatar class="avatar">
      <img
        src="https://cdn.dribbble.com/users/1040983/screenshots/5630845/media/e95768b82810699dfd54512ff570954a.png?compress=1&resize=400x300"
      />
    </ion-avatar>
    <ion-text> {{firstname | uppercase}} {{lastname | uppercase}} </ion-text>
  </div>

  <div class="stats__container">
    <div class="content">
      <div class="stats">
        <ion-text>Accomplish Task</ion-text>
        <ion-text>2</ion-text>
      </div>
      <div class="stats">
        <ion-text>Pending Task</ion-text>
        <ion-text>9</ion-text>
      </div>
      <div class="stats">
        <ion-text>Total Task</ion-text>
        <ion-text>9</ion-text>
      </div>
    </div>
  </div>

  <div class="about__container">
    <ion-label>ABOUT ME</ion-label>
    <ion-text> {{description}}</ion-text>
  </div>

  <ion-list class="other__content">
    <ion-list-header lines="none">
      <ion-label>FOLDERS</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label> Recently Deleted </ion-label>
      <ion-badge slot="end">4</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Archived</ion-label>
      <ion-badge slot="end">6</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
