<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header lines="none">
      <ion-label>BEFORE I TURN 30</ion-label>
      <ion-button color="primary" [routerLink]="['/create']">Insert</ion-button>
    </ion-list-header>
    <ion-item lines="none" *ngFor="let todo of todoItem">
      <ion-checkbox slot="start" color="primary"></ion-checkbox>
      <ion-label color="primary"> {{todo.title}} </ion-label>
    </ion-item>
    <!-- <ion-item lines="none">
      <ion-checkbox slot="start" color="primary"></ion-checkbox>
      <ion-label color="primary"> Learn to speak another language. </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-checkbox slot="start" color="primary"></ion-checkbox>
      <ion-label color="primary"> Master cooking </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-checkbox slot="start" color="primary"></ion-checkbox>
      <ion-label color="primary"> Do something that scares you </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-checkbox slot="start" color="primary"></ion-checkbox>
      <ion-label color="primary"> SKY DIVING! </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-checkbox slot="start" color="primary"></ion-checkbox>
      <ion-label color="primary"> Have savings. </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-checkbox slot="start" color="primary"></ion-checkbox>
      <ion-label color="primary"> Take a roadtrip </ion-label>
    </ion-item> -->
  </ion-list>
</ion-content>
