<ion-content>
  <div class="input__container">
    <div class="header__signup">
      <ion-text color="secondary"> REGISTER </ion-text>
    </div>
    <form [formGroup]="registerForm">
      <ion-item>
        <ion-label color="tertiary" position="floating"> firstname </ion-label>
        <ion-input
          text="text"
          name="firstname"
          formControlName="firstname"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="tertiary" position="floating"> lastname </ion-label>
        <ion-input
          text="text"
          name="lastname"
          formControlName="lastname"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="tertiary" position="floating"> username </ion-label>
        <ion-input
          type="text"
          name="username"
          formControlName="username"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="tertiary" position="floating"> password </ion-label>
        <ion-input
          type="password"
          name="password"
          formControlName="password"
        ></ion-input>
      </ion-item>
      <ion-button color="secondary" (click)="register()">REGISTER</ion-button>

      <div class="btn__group">
        <ion-label
          >Already have an account?
          <a [routerLink]="['/']">Login!</a></ion-label
        >
      </div>
    </form>
  </div>
</ion-content>
